
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 5px;
    text-align: center;
}
.contact-info {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    border-bottom: 3px solid #000;
    padding-bottom: 5px;
}
.section {
    margin-bottom: 20px;
}
.item {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.item-left {
    flex: 1;
}
.item-right {
    text-align: right;
    min-width: 30%;
}
.item-header {
    font-weight: bold;
}
.item-subheader, .item-date {
    font-style: italic;
}
[contenteditable] {
    outline: none;
}
[contenteditable]:hover {
    background-color: #f0f0f0;
}
